@CHARSET "UTF-8";

/* 控制间隔 */
.crud-header{
	margin-bottom: 5px;
}

/* 设置提示文字大小 */
.inline-h5{
	display: inline;
	font-weight:  bold;
}

/* 当前划过的表格的行的颜色 */
.table-striped>tbody>tr:hover>td>input,.table-striped>tbody>tr:hover>td>select {
	color: #000000;
}

/* 这里是当浏览器宽度最大不超过767px时应用的效果 */
@media screen and (max-width: 767px) {
	.crud_contain {
		padding-right: 40px;
		padding-left: 00px;
	}
}