@CHARSET "UTF-8";

/* 保存按钮居右 */
#save_permission{
	float: right;
}

/* 这里是当浏览器宽度最大不超过767px时应用的效果 */
@media screen and (max-width: 767px) {
	.permission_contain {
		padding-right: 40px;
		padding-left: 20px;
	}
}